@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1132;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  min-height: 100vh;
  background-color: var(--background);
}
